.itemFlex {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 2fr;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 12px;
}

.centerMoneyQuantity {
    text-align: center;
}

.itemsHeaders {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 2fr;
    background-color: #2999D4;
    border-radius: 20px;
    margin: 12px 2px;
    color: white;
}

.centerActionItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personalBillContainer {
    padding: 12px 24px;
    
}

/* .billDetailsContainer {
    padding:
} */

.nameAndShareDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameAndPaidDiv {
    display: flex;
    align-items: center;
}

.paidBox {
    margin-left: 4px;
    padding: 4px;
    border-radius: 10px;
    font-size: smaller;
    color: white;
}