.totalsContainer {
    padding: 12px;
}

.totals {
    display: grid;
    grid-template-columns: 10fr 2fr;
    padding: 8px 0px;
}

.totals span:first-child {
    text-indent: 16px;
}

.ultimateTotal {
    font-weight: bolder;
}

.spanCenter {
    text-align: center;
}

.taxButton {
    margin-left: 4px;
    border-radius: 10px;
    border: none;
    padding: 4px 8px;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.formInputs {
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    padding: 4px;
    margin-left: 8px;
    width: 40px;
    text-align: center;
}

.formInputs:focus {
    outline: none !important;
    border: 1px solid #2999D4;
    box-shadow: 0 0 2px #2999D4;
    
}

